@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 23, 23, 23;
  }
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 29, 34, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ant design */
.ant-select-selector {
  border-color: rgb(229, 231, 235) !important;
  background-color: rgb(var(--background-rgb)) !important;
}
.ant-select-selector:hover {
  background-color: rgb(64 64 64) !important; 
}
.ant-select-arrow {
  color: rgba(229, 231, 235, 0.7) !important;
}

.ant-select-dropdown {
  background-color: rgb(var(--background-rgb)) !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 231, 235) !important;
}

.ant-select-item-option {
  background-color: rgb(var(--background-rgb)) !important;
}
.ant-select-item-option-active {
  background-color: rgb(64, 64, 64) !important; 
}
.ant-select-item-option-selected {
  background-color: rgb(64, 64, 64) !important; 
}

.rc-virtual-list-scrollbar-thumb {
  background-color: rgb(229, 231, 235, 0.5) !important;
}