@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 23, 23, 23;
  }
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --foreground-inverted-rgb: 0, 0, 0;
  --background-rgb: 23, 23, 23;
  --component-background-rgb: 28 28 28;
  --component-background-hover-rgb: 49, 49, 49;
  --component-border-color-rgb: 62, 64, 64;
  --accent-color-rgb: 89, 173, 140;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ant design */
.ant-select-selector {
  border-color: rgb(var(--component-border-color-rgb)) !important;
  background-color: rgb(var(--component-background-rgb)) !important;
  transition:all 0s !important;
  -webkit-transition:all 0s !important;
  -moz-transition:all 0s !important;
}
.ant-select-focused .ant-select-selector {
  outline: 2px rgb(var(--accent-color-rgb)) solid !important;
}
.ant-select-selector:hover {
  background-color: rgb(var(--component-background-hover-rgb)) !important; 
}
.ant-select-arrow {
  color: rgba(var(--foreground-rgb), 0.6) !important;
}

.ant-select-dropdown {
  background-color: rgb(var(--component-background-rgb)) !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(var(--component-border-color-rgb)) !important;
}

.ant-empty-image {
  color: rgba(255, 255, 255, 0.85) !important;
}

.ant-empty-description {
  color: rgba(255, 255, 255, 0.85) !important;
}

.ant-select-item-option {
  background-color: rgb(var(--component-background-rgb)) !important;
  font-weight: normal !important;
}
.ant-select-item-option-active {
  background-color: rgb(var(--component-background-hover-rgb)) !important; 
}
.ant-select-item-option-selected {
  background-color: rgb(var(--component-background-hover-rgb)) !important;
}

.rc-virtual-list-scrollbar-thumb {
  background-color: rgb(var(--component-border-color-rgb), 0.5) !important;
}

.ant-modal-content {
  color: rgb(var(--foreground-rgb));
  border-style: solid !important;
  border-width: 1px   !important;
  border-color: rgb(var(--component-border-color-rgb)) !important;
  background-color: rgb(var(--component-background-rgb)) !important;
}
.ant-modal-header {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--component-background-rgb)) !important;
}
.ant-modal-title {
  color: rgb(var(--foreground-rgb)) !important;
}
.ant-modal-close {
  color: rgb(var(--foreground-rgb)) !important;
}
.ant-modal-close:focus-visible {
  outline: 2px rgb(var(--accent-color-rgb)) solid !important;
  }
.ant-modal-close:hover {
  color: rgb(203, 213, 225) !important;
}

.ant-table {
  background-color: rgb(var(--component-background-rgb)) !important;
}

.ant-table-cell-row-hover {
  background-color: rgb(var(--component-background-hover-rgb)) !important;
}

.ant-table-thead > tr > th {
  background-color: rgb(var(--component-background-rgb)) !important;
  border-color: rgb(var(--component-border-color-rgb)) !important;
}
.ant-table-thead > tr > th:hover {
  background-color: rgb(var(--component-background-hover-rgb)) !important;
}
.ant-table-thead th.ant-table-column-has-sorters:focus-visible {
  color: rgb(var(--accent-color-rgb)) !important;
}
.ant-table-tbody > tr > td {
  border-color: rgb(var(--component-border-color-rgb)) !important;
}

.ant-table-placeholder {
  background-color: rgb(var(--component-background-rgb)) !important;
}
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active,
.ant-table-filter-trigger.active
{
  color: rgb(var(--accent-color-rgb)) !important;
}

.ant-table-filter-dropdown{
  background-color: rgb(var(--component-background-rgb)) !important;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(var(--component-border-color-rgb)) !important;
}
.ant-dropdown-menu {
  background-color: rgb(var(--component-background-rgb)) !important;
}
.ant-dropdown-menu-item-selected {
  background-color: rgb(var(--component-background-hover-rgb)) !important;
}
.ant-checkbox-inner {
  background-color: rgb(var(--component-background-rgb)) !important;
  border-color: rgb(var(--component-border-color-rgb)) !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(var(--accent-color-rgb)) !important;
  border-color: rgb(var(--accent-color-rgb)) !important;
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: rgb(var(--foreground-inverted-rgb)) !important;
}

.ant-btn-primary {
  color: rgb(var(--foreground-inverted-rgb)) !important;
  background-color: rgb(var(--accent-color-rgb)) !important;
}
.ant-btn-link {
  color: rgb(var(--accent-color-rgb)) !important;
}

.ant-skeleton-button {
  background-image: linear-gradient(90deg, rgba(var(--accent-color-rgb), 0) 25%, rgba(var(--accent-color-rgb), 0.15) 37%, rgba(var(--accent-color-rgb), 0) 63%) !important;
}